<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">
	
  	   
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realms" >
			<list>
				<ref bean="shiroRealm"/>
			</list>
		</property>
		<property name="cacheManager" ref="shiroCacheManager" />
	</bean>
	
	<!-- Shiro Filter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/login" />
		<property name="successUrl" value="/main" />
		<!-- <property name="unauthorizedUrl" value="/toLogin" /> -->
		<property name="filterChainDefinitions">
			<value>
			/static/** 					= anon
			/assets/**					= anon
			/webjars/**					= anon
           	/login 						= authc
			/logout 					= logout
			/**							= user
			</value>
		</property>
	</bean>
</beans>