<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/data/mongo
    http://www.springframework.org/schema/data/mongo/spring-mongo-1.7.xsd
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context-4.0.xsd
    ">
	<mongo:mongo host="${mongoHost}" port="${mongoPort}">
		<mongo:options connections-per-host="${mongoConnectionsPerHost}"
			threads-allowed-to-block-for-connection-multiplier="${mongoThreadsAllowedToBlockForConnectionMultiplier}"
			connect-timeout="${mongoConnectTimeout}" max-wait-time="${mongoMaxWaitTime}"
			auto-connect-retry="${mongoAutoConnectRetry}" socket-keep-alive="${mongoSocketKeepAlive}"
			socket-timeout="${mongoSocketTimeout}" slave-ok="${mongoSlaveOk}"
			write-number="1" write-timeout="0" write-fsync="true" />
	</mongo:mongo>

	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg ref="mongo" />
		<constructor-arg value="${mongoDbname}" />
	</bean>

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:mongo.properties</value>
			</list>
		</property>
	</bean>
	<mongo:repositories base-package="org.appsugar.data.mongo"/>
</beans>