<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:jpa="http://www.springframework.org/schema/data/jpa"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/data/jpa
    http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- 启用注解 -->
	<context:annotation-config />
	
	<!-- 启动组件扫描，排除@Controller组件，该组件由SpringMVC配置文件扫描 -->
	<context:component-scan base-package="org.appsugar.repository" />
	
    <jpa:repositories base-package="org.appsugar.repository" base-class="org.appsugar.repository.IdEntityRepositoryImpl"/>
	
	<bean name="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		<property name="showSql" value="false"/>
		<property name="generateDdl" value="false"/>
		<property name="databasePlatform" value="${hibernate.dialect}" />
	</bean>
	<bean name="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="jpaVendorAdapter" ref="jpaVendorAdapter"/>
		<property name="persistenceUnitPostProcessors">
			<list>
				<bean
					class="org.springframework.data.jpa.support.ClasspathScanningPersistenceUnitPostProcessor" >
					<constructor-arg value="org.appsugar.entity" />
				</bean>
			</list>
		</property>
		<property name="dataSource" ref="dataSource"/>
		<property name="jpaPropertyMap">  
            <map>  
                <entry key="hibernate.query.substitutions" value="f"/>  
                <entry key="hibernate.default_batch_fetch_size" value="16"/>  
                <entry key="hibernate.max_fetch_depth" value="2"/>  
                <entry key="hibernate.bytecode.use_reflection_optimizer" value="true"/>  
                <entry key="hibernate.cache.use_second_level_cache" value="false"/>  
                <entry key="hibernate.cache.use_query_cache" value="false"/>  
            </map>  
        </property>    
	</bean>
	
	<!-- Jpa 事务配置 -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	
	<!-- JSR303 Validator定义 -->
	<bean id="validator"
		class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />
</beans>